body{
    width: 1600px;
    height: 700px;
    flex-shrink: 0;
    background: #000;
}
.container-fluid{
    width: 1600px;
    height: 700px;
    flex-shrink: 0;
    background: #000;

}
.heading{
    color: #131111;
    

/* Semi-bold/60px */
font-style: "IBM Plex Sans";
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 66px; /* 110% */

}


.supporting-text{
    width: 544px;
    color: var(--gray-400, #A1A1AA);

/* Regular/18px */
font-style: 'Inter';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
padding-left: 25px;
}
.rectangle{
    width: 1100px;
height: 218px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid var(--Gradient-01, #6DDCFF);
background: rgba(0, 0, 0, 0.70);
flex-direction: row;
/* padding-left: 100px; */
}
.heading{
    align-items: center;
    color: #FFF;

/* Semi-bold/60px */
font-style: "IBM Plex Sans";
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 66px; /* 110% */
padding-left: 25px;

}
.text{
    color: var(--gray-400, #A1A1AA);

/* Regular/18px */
font-style: 'Inter';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
padding-left: 25px;

}
.vr{
    width: 1px;
height: 218px;
background: linear-gradient(98deg, #6DDCFF 0%, #7F60F9 100%);


}